.container-footer {
  height: 100px;
  width: 100%;
  margin-top: 3rem;

  background-image: radial-gradient(rgb(43, 43, 43) 2px, transparent 2px);
  background-size: 10px 10px;
  background-color: rgb(8, 52, 62);

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: -3px -3px 0px 0px rgba(140, 240, 149, 1);
}
.container-footer a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
