.container-banner {
  display: flex;
  height: 200px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: rgba(234, 255, 113, 1);
  background-image: linear-gradient(
    92deg,
    rgba(234, 255, 113, 1) 16%,
    rgba(140, 240, 149, 1) 56%
  );
  margin-top: 5px;
  margin-bottom: 5px;
}
